<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Sign In</h1>
    {{#if hasErrors}}
    <div class="alert alert-danger">
      {{# each messages}}
      <p>{{this}}</p>
      {{/each}}
    </div>
    {{/if}}
    <form action="/user/signin" method="POST">
      <p class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" name="email" id="email" class="form-control">
      </p>
      <p class="form-group">
        <label for="email">Password</label>
        <input type="password" name="password" id="password" class="form-control">
      </p>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <input type="submit" class="btn btn-primary" value="Sign In">
    </form>
  </div>
</div>