<div class="container">
  <div class="account">
    <h1>Sign In</h1>

    <div class="account-pass">
      {{#if hasErrors}}
      <div class="alert alert-danger">
        {{# each messages}}
        <p>{{this}}</p>
        {{/each}}
      {{/if}}
      </div>
      
      <div class="col-md-8 account-top">
        <form action="/user/signin" method="POST">
          <p class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
         </p>
         <p class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
          </p>

          <input type="hidden" name="_csrf" value="{{csrfToken}}">

          <div class="signinBtns">
            <input type="submit" value="Sign In">
            <a href="/user/twitter" class="twitterBtn">
              <img src="/images/twitterSignBtn.png" alt="Twitter login">
            </a>
            <a href="/user/google" class="googleBtn"></a>
          </div>
        </form>
      </div>
      <div class="col-md-4 left-account ">
        <a href="single.html">
          <img class="img-responsive " src="images/s1.jpg" alt="">
        </a>
        <a href="/user/signup" class="create">Create an account</a>

        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>

</div>