<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <!-- Custom Theme files -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!--fonts-->
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
  <!--//fonts-->
  <!-- start menu -->
  <script src="/javascripts/memenu.js" type="text/javascript"></script>
  {{!-- <script>$(document).ready(function () { $(".memenu").memenu(); });</script> --}}
  <script src="/javascripts/simpleCart.min.js"> </script>
  <!-- Font Awesome -->
  <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/stylesheets/bootstrap-social.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/stylesheets/memenu.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
  <body>
    {{> header}}
      {{{body}}}
    {{!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script> --}}
    {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"crossorigin="anonymous"></script> --}}
  </body>
</html>
