<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 col-md-offset-2">
      <form action="/inventory/edit-form/save" method="POST">
        <p class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" class="form-control" value="{{product.title}}">
        </p>
        <p class="form-group">
          <label for="price">Price</label>
          <input type="number" name="price" id="price" class="form-control" step="0.01" value="{{product.price}}">
        </p>
        <p class="form-group">
          <label for="description">Description</label>
          <p><textarea name="description" id="description" cols="50" rows="8" class="form-control">{{product.description}}</textarea></p>
        </p>
        <input type="hidden" name="productId" id="id" value="{{product._id}}">
        <input type="submit" class="btn btn-primary mt-4" value="Save">
      </form>
    </div>
  </div>

</div>
<script src="/javascripts/index.js"></script>